@font-face {
    font-family: 'JetBrainsMono';
    src: local('JetBrainsMono'), url(../assets/fonts/JetBrainsMono-Regular.woff2) format('woff2');
}


body 
{
    background: #ffffff;  /*  url("../assets/snake-sketch.jpg") no-repeat scroll 0cm 2cm; */
}





h2.center
{
    color: rgb(36, 29, 26);
    font-weight: 300;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: normal; /* normal / small-caps */
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
}

div {
    padding-bottom: 0px;
    padding-top: 0px;
}

/* unvisited link */
a:link {color: rgb(168, 67, 102);}

/* visited link */
a:visited {color: rgb(168, 67, 102);}

.center
{
    display: flex;
    justify-content: center;
}

h1.title
{
    color: rgb(36, 29, 26);

    font-family: JetBrainsMono,'Courier New', Courier, monospace;
    font-variant: normal; /* normal / small-caps */
    font-weight: 300;
    font-size: 8.5vw;  /* % or em makes font zoomable -- 'pt' and 'px' makes it absolute */
    letter-spacing: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 0%;
    padding-top: 0%;
    margin: 0px 0px 0px 0px;
    /* font-style: italic; */
}

p.iteration
{
    font-size: 7.0vw;
    color: rgb(36, 29, 26);
    font-family: JetBrainsMono,'Courier New', Courier, monospace;
    display: flex;
    justify-content: left;
    padding-left: 1.7%;
    padding-right: 0%;
    text-align: left;
    letter-spacing: 0px;
    line-height: 0.5;
}

p.describe
{
    font-size: 4.2vw;
    /* font-size: 100px; */
    color: rgb(0, 51, 255);
    font-family: JetBrainsMono,'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
    letter-spacing: 0px;
    line-height: 0.5;
}

p.metadata
{
    font-size: 2.427050983124841vw;
    /* font-size: 100px; */
    color: rgb(0, 0, 0);
    font-family: JetBrainsMono,'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
    letter-spacing: 0px;
    line-height: 0.5;
}

p.find_text_poem
{
    font-size: 3.0vw;
    /* font-size: 3.6em; */
    color: rgb(36, 29, 26);
    font-family: JetBrainsMono,'Courier New', Courier, monospace;
    display: flex;
    justify-content: left;
    padding-left: 1.7%;
    padding-right: 0%;
    text-align: left;
    letter-spacing: 0px;
    line-height: 0.8;
}

span.find_text_whitespace {
    margin-top: 15em; /* Adjust to your liking */
    display: inline-block; /* Could also use inline-block */
  }

p.left
{
    font-size: 1em;
    color: rgb(36, 29, 26);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: right;
    padding-left: 40%;
    padding-right: 40%;
    text-align: left;
    
}

p.right
{
    font-size: 1em;
    color: rgb(36, 29, 26);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: left;
    padding-left: 40%;
    padding-right: 40%;
    text-align: right;
    
}

p.center
{
    font-size: 1em;
    color: rgb(36, 29, 26);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding-left: 40%;
    padding-right: 40%;
    text-align: center;
    
}

img.real
{
    width: 75%;
}

@media only screen and (max-device-width: 480px) {
    p.center    
    {
        padding-left: 0%;
        padding-right: 0%;
    }
    p.right   
    {
        padding-left: 0%;
        padding-right: 0%;
    }
    p.left  
    {
        padding-left: 0%;
        padding-right: 0%;
    }

    img.real
    {
        width: 95%;
    }
    img
    {
        width: 100%;
    }

    p.find_text_poem
    {
        padding-left: 1.7%;
    }
}


img
{
    /* width: */
    max-width: 100%;
    max-height: 100%;
    height: auto;
    /* width: 100%; */
    /* cursor: pointer; */
}




img.title_img
{
    max-width: 100%;
    display:block;
    cursor:default;
}


img.zoom
{
    /* display:inline-block;
    text-align: center; */
    height: 96%;
    position:fixed;
    margin:auto;
    transform: translate(-50%, 0%);
    padding-top: 2%;
    cursor:default;
    bottom: 2%;
}

#content {
    padding-bottom:60px; /* Height of the footer element */
}

#footer {
    text-align: center;
    bottom:0;
    width:100%;
    height:30px;   /* Height of the footer */
}
